{{define "cadastro"}}
{{template "_head"}}


<nav class="navbar navbar-light bg-light mb-4">
    <a class="navbar-brand" href="/">cadastro</a>
</nav>
<div class="container">

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Cadastro</h1>
                <p class="lead">Insira seus dados.</p>
            </div>
        </div>
        <form method="POST" action="insert">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="descricao">Cidade:</label>
                        <input type="text" name="cidade" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="preco">Idade:</label>
                        <input type="number" name="idade" class="form-control" step="0.01">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="preco">Senha:</label>
                        <input type="number" name="senha" class="form-control">
                    </div>
                </div>
            </div>

            <button type="submit" value="salvar" class="btn btn-success">Salvar</button>
            <a class="btn btn-info" href="Login.html">Voltar</a>
        </form>
    </body>

</html>
</div>
</body>

</html>
{{end}}